.gallery{
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 20px;
}

.gallery h2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: auto ;
    font-size: 35px;
    z-index: 2000;
    max-width: 150px;
    height: 38px;
    top: 54rem;
    left: 25px;
    right: 25px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-1);
    border-radius: 5%;
}


