.gallery{
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10rem;
}

.gallery h2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: auto ;
    font-size: 35px;
    z-index: 2000;
    max-width: 150px;
    height: 38px;
    top: 62rem;
    left: 25px;
    right: 25px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-1);
    border-radius: 5%;
}

.gallery .gallery-photos{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery .gallery-photos img{
    margin: 10px;
    max-width: 350px;
    max-height: 250px;
}


