.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 1px solid rgb(0, 0, 0);
    max-width: 1400px;
    margin: auto;
    padding-top: 65px;
    margin-bottom: 1.2rem;
}

.header .header-background {
    width: 100%;
}

.header .header-background img{
    width: 100%;
    height: 850px;
}

.header .header-title h1{
    text-transform: uppercase;
    font-weight: bold;
}

.header .header-title{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    position: absolute;
    z-index: 1000;
    top: 40%;
    margin: 10px;
    padding: 15px 5px;
    max-height: 15%;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.302);
    border-radius: 2%;
}


