.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: sienna;
    align-items: center;
    gap: 50px;
    height: 10%;
}

.navbar .navbar-ul{
    display: none;
    
}

.navbar .navbar-ul.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 23px;
    font-size: 15px;
    position: absolute;
    top:70px;
    left: 78%;
}

.navbar .navbar-title{
    font-size: 30px;
}

.navbar .navbar-icon-burguer{
    cursor: pointer;
}

@media (min-width: 720px) {
    .navbar .navbar-ul{
        display: flex;
    }
}