.footer{
    max-width: 1200px;
    padding-bottom: 35px;
    height: 15rem;
    margin: auto;
    margin-top: 30px;
    margin-left: 10px ;
    margin-right: 10px;
    
}

.footer-elements{
    margin: auto;
    margin-bottom: 20px;
    height: 85%;
    width: 100%;
    max-width: 800px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    background-color: #776F6C;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2%;
}

.footer-elements img{
    width: 100%;
    max-width: 65px;
    max-height: 100px;
}

.footer-title h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.footer-dates{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}